* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* :root {
  --nav: #b8c1ec;
  --btn: #eebbc3;
  --btn-text: #232946;
  --bg: #232946;
  --sort-div: #9e8592;
} */
body {
  /* background: var(--bg); */
}
nav {
  /* background: var(--nav) !important; */
}

.btn {
  background: #eebbc3;
  color: #232946;
  font-weight: bold;
}
.sort-div {
  background: var(--sort-div);
  height: auto;
  width: 100%;
}
.sort-div col {
  margin: 40px auto !important;
}
label {
  /* color: black !important; */
}
.error {
  color: red;
  margin: 10px;
  text-align: center;
  font-weight: 500;
}
#main {
  width: 99%;
  margin: 20px auto;
}
.login-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  width: 50%;
}
